body
{

    background-color: darkgreen;
   
}

.wrapper
{
    text-align: center;
}

.header
{
    display: inline-block;
    height: 150px;
    width: 90%;
    border-style: solid;
    border-color: #c61300;
    background-color: gray;
    
}

.content
{
    display:inline-block;
    width: 90%;
    height: auto;
    margin-top: 3%;
    border-style: solid;
    border-color: #c61300;
    background-color: gray;
   
    
}

.footer
{
    display:inline-block;
    width: 90%;
    margin-top: 3%;
    border-style: solid;
    border-color: #c61300;
    background-color: gray;
}




.menu
{background: darkgreen;
color: #fff;
text-decoration: none;
position:fixed;
top:0;
width: 100%;
font-size: 20px;
}

.menu li{
	 padding: 15px 30px;
	 display:block;
	 float:left;
}

.menu li:hover
{
	background-color: red;
	border-collapse: collapse;
	color: yellow;
	}

ul 
{margin: 0;
}