

body
{
    /*
	background-image: url('lego-duplo-2304-lego-duplo-large-green-building-plate-2.jpg');
    background-repeat: no-repeat;
	background-attachment: fixed;
    background-size: cover;
	*/
	background-color: green;
	text-align: center;
	margin: auto;
	width: 100%
	height: auto;
	
}

div
{
	/* Alla divvar ska ha samma rundade kanter*/
	border-radius: 5px;

	
}

h1
{
	
	font-family: 'Bree Serif', serif;

}
/*
.Icon
{
   background-image: url(LegoFinder.png);
   width: 331px;
   height:144px;
   background-size: 331px 144px;
}

*/

.wrapper
{
    text-align: center;
	width: 100%;

}

.header
{

    display: inline-block;
    height: 40%;
    width: 90%;
    border-style: hidden;
    border-color: #c61300;
   /* background-color: #b3e6b3; */
      background-image: url(LegoFinder.png);
	  background-repeat: no-repeat;
	  background-position: center;
	margin-top: 3%;
	text-align: center;
}

.content
{
    display:inline-block;
    width: 90%;
    height: auto;
    margin-top: 3%;
    border-style: solid;
    border-color: #c61300;
    background-color: #b3e6b3	;
	font-family: 'Bree Serif', serif;
	font-size: 18px;
 
}

.footer
{
    display:inline-block;
    width: 90%;
    margin-top: 3%;
    border-style: solid;
	/* Merry Chrysler */
    border-color: #c61300;
    background-color: #b3e6b3;
}
/*
ul
{

	padding-inline-start: 0px;
}
*/

nav
{
position: sticky;	
top: 0;
}

nav ul {
	display: inline-block;
	margin-top: 3%;
	width: 90%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: darkgreen;
	justify-content: space-around;
	font-size: 20px;
	font-family: 'Bree Serif', serif;
	
}

nav li {
  float: left;
  
}

nav li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: red;
}



/*
.menu
{
	
	display:inline-block;
	background: darkgreen;
	color: #fff;
	text-decoration: none;
	position: sticky;
	top: 0;
	overflow: hidden;
	
	font-size: 20px;
	margin: 0;
	width: 90%;

}

.menu li{
	 padding: 15px 30px;
	 display:block;
	 float:left;
}

.menu li:hover
{
	background-color: red;
	border-collapse: collapse;
	color: yellow;
	}
	
	*/

.search
{
	margin-top: 1%;
    font-size: 24px;
}

th, td{
	text-align: center;
	font-size: 20px;
	padding: 15px;
	
	border: 1px solid black;	

}

th {
	
	font-size: 25px;
}
table{

    display: inline-block;

}

/* Responsive thingie */

@media only screen and (min-width: 150px) and (max-width: 600px)
{
	/* add the thingies */

p 
{
	font-size: 130%;
}

.wrapper
{

}	
	
.header 
{
    font-size: 95%;
	height: 40%;
	width: 95%;

}

.content
{
	margin-bottom:10%;
	
	width: 95%;
	margin: auto;
	overflow: scroll;


}

.footer
{
	display: none;
	
	
}
.search
{
	width: 90%;
}

nav ul
{
	width: 100%;
	font-size: 15px;
	

	
}


}





