body
{
    background-image: url('lego-duplo-2304-lego-duplo-large-green-building-plate-2.jpg');
	text-align: center;
	margin: auto;
	width: 100%;
	max-width: 1400px;
}

div
{
	border-radius: 20px;

	
}

.wrapper
{
    text-align: center;
}

.header
{
	
    display: inline-block;
    height: 150px;
    width: 90%;
    border-style: solid;
    border-color: #c61300;
    background-color: gray;
}

.content
{
    display:inline-block;
    width: 90%;
    height: auto;
    margin-top: 3%;
    border-style: solid;
    border-color: #c61300;
    background-color: gray;
   
    
}

.footer
{
    display:inline-block;
    width: 90%;
    margin-top: 3%;
    border-style: solid;
    border-color: #c61300;
    background-color: gray;
}




.menu
{background: darkgreen;
color: #fff;
text-decoration: none;
position:sticky;
top:0;
overflow:hidden;
font-size: 20px;
margin: 0;
min-width: 100%

}

.menu li{
	 padding: 15px 30px;
	 display:block;
	 float:left;
}

.menu li:hover
{
	background-color: red;
	border-collapse: collapse;
	color: yellow;
	}

.search
{
    font-size: 24px;
}

th, td{
	text-align: center;
	font-size: 20px;
	padding: 15px;
	
	border: 1px solid black;	

}

th {
	
	font-size: 25px;
}
table{
display: inline-block;

}
